<div class="game">
    <div class="row">
        <div class="small-12 columns">
            <div class="game-board">
                <div class="tile" *ngFor="let tile of tiles;" [ngStyle]="{'transform': getTilePosition(tile)}"
                    [ngClass]="{ empty: tile.canvas === null }" (click)="moveByClick(tile)">
                    <img *ngIf="scramble.getImageFromTile(tile)" [src]="scramble.getImageFromTile(tile)"
                        [ngStyle]="{ 'width': config.tileSize + 'px', 'height': config.tileSize + 'px'}" />
                </div>
            </div>

        </div>
    </div>
    <div class="row text-center mt-2">
           <!--  <app-game-controls></app-game-controls> -->
    </div>
    
</div>